DJANGO_SECRET_KEY=change-moi-en-production
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=sangolo
DB_USER=sangolo
DB_PASSWORD=change-moi
DB_HOST=localhost
DB_PORT=5432

REDIS_URL=redis://localhost:6379
